/* Red Border for Dev purposes */
/*{
  border: 1px;
  border-style: solid;
  border-color: red;
}*/

/* Portfolio Card Styles*/

/* Jumbotron Styles*/
#my_bio{
  margin-bottom: 0;
}
/* Navbar styles */
.navbar{
  background-color: rgba(0,0,0,0);
}

#mainContainer{
  text-align: right;
  background-color: white;
  margin: 0px;
  padding: 0px;
}










 

